<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/public/public-layout}">

<body>

<th:block layout:fragment="content">

    <main class="main" id="top">
        <div class="container-fluid bg-300 dark__bg-1200">
            <div class="bg-holder bg-auth-card-overlay" th:style="'background-image:url('+@{/assets/img/bg/37.png}+');'"></div>
            <!--/.bg-holder-->
            <div class="row flex-center position-relative min-vh-100 g-0 py-5">
                <div class="col-11 col-sm-10 col-xl-8">
                    <div class="card border border-200 auth-card">
                        <div class="card-body pe-md-0">
                            <div class="row align-items-center gx-0 gy-7">
                                <div class="col-auto bg-100 dark__bg-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                                    <div class="bg-holder" th:style="'background-image:url('+@{/assets/img/bg/38.png}+');'"></div>
                                    <!--/.bg-holder-->
                                    <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7">
                                        <h3 class="mb-3 text-black fs-1">Phoenix Authentication</h3>
                                        <p class="text-700">Give yourself some hassle-free development process with the uniqueness of Phoenix!</p>
                                        <ul class="list-unstyled mb-0 w-max-content w-md-auto mx-auto">
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Fast</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Simple</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Responsive</span></li>
                                        </ul>
                                    </div>
                                    <div class="position-relative z-index--1 mb-6 d-none d-md-block text-center mt-md-15">
                                        <img class="auth-title-box-img d-dark-none" th:src="@{/assets/img/spot-illustrations/auth.png}" alt="" />
                                        <img class="auth-title-box-img d-light-none" th:src="@{/assets/img/spot-illustrations/auth-dark.png}" alt="" />
                                    </div>
                                </div>
                                <div class="col mx-auto">
                                    <div class="auth-form-box">
                                        <div class="text-center"><a class="d-flex flex-center text-decoration-none mb-4" href="../../../index-2.html">
                                            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img th:src="@{/assets/img/icons/logo1.png}" alt="phoenix" height="50" /></div>
                                        </a>
                                            <h4 class="text-1000">Enter the verification code</h4>
                                            <p class="text-700 mb-0">An email containing a 6-digit verification code has been sent to the email address - exa*********.com </p>
                                            <P class="fs--2 mb-5">Don’t have access? <a href="#!">Use another method</a></P>
                                            <form class="verification-form" data-2FA-varification="data-2FA-varification">
                                                <div class="d-flex align-items-center gap-2 mb-3">
                                                    <input class="form-control px-2 text-center" type="number" />
                                                    <input class="form-control px-2 text-center" type="number" disabled="disabled" />
                                                    <input class="form-control px-2 text-center" type="number" disabled="disabled" />
                                                    <span>-</span>
                                                    <input class="form-control px-2 text-center" type="number" disabled="disabled" />
                                                    <input class="form-control px-2 text-center" type="number" disabled="disabled" />
                                                    <input class="form-control px-2 text-center" type="number" disabled="disabled" /></div>
                                                <div class="form-check text-start mb-4"><input class="form-check-input" id="2fa-checkbox" type="checkbox" />
                                                    <label for="2fa-checkbox">Don’t ask again on this device</label>
                                                </div>
                                                <Button class="btn btn-primary w-100 mb-5" type="submit">Varify</Button>
                                                <a class="fs--1" href="#!">Didn’t receive the code? </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</th:block>
<th:block layout:fragment="script">

</th:block>

</body>
</html>