<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/public/public-layout}" lang="">

<body>
<th:block layout:fragment="content">

  <main class="main" id="top">
        <div class="container-fluid bg-300 dark__bg-1200">
            <div class="bg-holder bg-auth-card-overlay" th:style="'background-image:url('+@{/assets/img/bg/37.png}+');'"></div>
            <!--/.bg-holder-->
            <div class="row flex-center position-relative min-vh-100 g-0 py-5">
                <div class="col-11 col-sm-10 col-xl-8">
                    <div class="card border border-200 auth-card">
                        <div class="card-body pe-md-0">
                            <div class="row align-items-center gx-0 gy-7">
                                <div class="col-auto bg-100 dark__bg-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                                    <div class="bg-holder" th:style="'background-image:url('+@{/assets/img/bg/38.png}+');'"></div>
                                    <!--/.bg-holder-->
                                    <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7 pb-md-7">
                                        <h3 class="mb-3 text-black fs-1">Phoenix Authentication</h3>
                                        <p class="text-700">Give yourself some hassle-free development process with the uniqueness of Phoenix!</p>
                                        <ul class="list-unstyled mb-0 w-max-content w-md-auto mx-auto">
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Fast</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Simple</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Responsive</span></li>
                                        </ul>
                                    </div>
                                    <div class="position-relative z-index--1 mb-6 d-none d-md-block text-center mt-md-15">
                                        <img class="auth-title-box-img d-dark-none" th:src="@{/assets/img/spot-illustrations/auth.png}" alt="" />
                                        <img class="auth-title-box-img d-light-none" th:src="@{/assets/img/spot-illustrations/auth-dark.png}" alt="" />
                                    </div>
                                </div>
                                <div class="col mx-auto">
                                    <div class="auth-form-box">
                                        <div class="text-center mb-7"><a class="d-flex flex-center text-decoration-none mb-4" href="../../../index-2.html">
                                            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img th:src="@{/assets/img/icons/logo1.png}" alt="phoenix" height="50" /></div>
                                        </a>
                                            <h3 class="text-1000">Sign In</h3>
                                            <p class="text-700">Get access to your account</p>
                                        </div>

                                        <div th:if="${param.reset_success}">
                                            <p class="alert alert-soft-info alert-dismissible fade show" role="alert"> You have successfully reset your password, please log in here.</p>
                                        </div>
                                        <div th:if="${param.verified}">
                                            <div class="alert alert-soft-success"> This account has already been verified.</div>
                                        </div>
                                        <div th:if="${param.expired}">
                                            <div class="alert alert-soft-warning" role="alert">Link already expired, resend link</div>
                                            <a class="small" th:href = "@{/resend-verification-token?token={code}(code=${param.token})}"> Resend email verification token</a>
                                        </div>
                                        <div th:if="${param.token_resent}">
                                            <div class="alert alert-soft-warning"> A new verification link has been sent to your email please, check to activate your account</div>
                                        </div>
                                        <div th:if="${param.valid}">
                                            <div class="alert alert-soft-success"> Email verified successfully. Please log in here</div>
                                        </div>
                                        <div th:if = "${param.error}" class="alert alert-soft-danger text-center">
                                            <p class="text-danger"> Something went wrong</p>
                                        </div>
                                        <div th:if = "${param.logout}" class="alert alert-soft-success text-center">
                                            You have been logged out!
                                        </div>
                                        <div th:if = "${param.inactive}" class="alert alert-soft-info text-center">
                                            Account is inactive. Please verify email to activate email first.
                                        </div>
                                        <div th:if = "${param.locked}" class="alert alert-soft-danger text-center">
                                            Your account is locked !!
                                        </div>
                                        <div th:if = "${param.unlocked}" class="alert alert-soft-success text-center">
                                            Account is unlocked! Please try to login
                                        </div>
                                        <div th:if = "${param.invalid_token}" class="alert alert-soft-info text-center">
                                            Invalid verification token for forgot password, email found.
                                        </div>

                                        <!-- Error message block -->
                                        <div th:if="${error}" class="error">
                                            <p th:text="${error}"></p>
                                        </div>

                                        <!-- Success message block -->
                                        <div th:if="${success}" class="success">
                                            <p th:text="${success}"></p>
                                        </div>


                                        <a class="btn btn-phoenix-secondary w-100 mb-3"
                                           th:href="@{/oauth2/authorization/google}">
                                            <span class="fab fa-google text-danger me-2 fs--1"></span> Sign in with Google
                                        </a>
                                        <a class="btn btn-phoenix-secondary w-100"
                                           th:href="@{/oauth2/authorization/facebook}">
                                            <span class="fab fa-facebook text-primary me-2 fs--1"></span> Sign in with Facebook
                                        </a>

                                        <div class="position-relative">
                                            <hr class="bg-200 mt-5 mb-4" />
                                            <div class="divider-content-center bg-white">or use email</div>
                                        </div>

                                        <form th:action = "@{/login}" method="POST">

                                        <div class="mb-3 text-start">
                                            <label class="form-label" for="email">Email address</label>
                                            <div class="form-icon-container">
                                                <input class="form-control form-icon-input" name="email" id="email" type="email" autofocus required />
                                                <span class="fas fa-user text-900 fs--1 form-icon"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label class="form-label" for="password">Password</label>
                                            <div class="form-icon-container">
                                                <input class="form-control form-icon-input" id="password" type="password" name="password" required />
                                                <span class="fas fa-key text-900 fs--1 form-icon"></span>
                                            </div>
                                        </div>


                                        <div class="row flex-between-center mb-7">
                                            <div class="col-auto">
                                                <div class="form-check mb-0">
                                                    <input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" />
                                                    <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="col-auto"><a class="fs--1 fw-semi-bold" th:href="@{forgot-password}">Forgot Password?</a></div>
                                        </div>

                                        <button type="submit" class="btn btn-primary w-100 mb-3">LOGIN</button>

                                        </form>
                                        <div class="text-center"><a class="fs--1 fw-bold" th:href="@{register}">Not a member! Create an Account!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</th:block>
<th:block layout:fragment="script">

</th:block>

</body>
</html>