<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/public/public-layout}">

<body>

<th:block layout:fragment="content">

    <main class="main" id="top">
        <div class="container-fluid bg-300 dark__bg-1200">
            <div class="bg-holder bg-auth-card-overlay" th:style="'background-image:url('+@{/assets/img/bg/37.png}+');'"></div>
            <!--/.bg-holder-->
            <div class="row flex-center position-relative min-vh-100 g-0 py-5">
                <div class="col-11 col-sm-10 col-xl-8">
                    <div class="card border border-200 auth-card">
                        <div class="card-body pe-md-0">
                            <div class="row align-items-center gx-0 gy-7">
                                <div class="col-auto bg-100 dark__bg-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                                    <div class="bg-holder" th:style="'background-image:url('+@{/assets/img/bg/38.png}+');'"></div>
                                    <!--/.bg-holder-->
                                    <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7 card-sign-up">
                                        <h3 class="mb-3 text-black fs-1">Phoenix Authentication</h3>
                                        <p class="text-700">Give yourself some hassle-free development process with the uniqueness of Phoenix!</p>
                                        <ul class="list-unstyled mb-0 w-max-content w-md-auto mx-auto">
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Fast</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Simple</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Responsive</span></li>
                                        </ul>
                                    </div>
                                    <div class="position-relative z-index--1 mb-6 d-none d-md-block text-center mt-md-15">
                                        <img class="auth-title-box-img d-dark-none" th:src="@{/assets/img/spot-illustrations/auth.png}" alt="" />
                                        <img class="auth-title-box-img d-light-none" th:src="@{/assets/img/spot-illustrations/auth-dark.png}" alt="" />
                                    </div>
                                </div>
                                <div class="col mx-auto">
                                    <div class="auth-form-box">
                                        <div class="text-center mb-7"><a class="d-flex flex-center text-decoration-none mb-4" href="#">
                                            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img th:src="@{/assets/img/icons/logo1.png}" alt="phoenix" height="50" /></div>
                                        </a>
                                            <h3 class="text-1000">Sign Up</h3>
                                            <p class="text-700">Create your account today</p>
                                        </div>
                                        <a class="btn btn-phoenix-secondary w-100 mb-3"
                                           th:href="@{/oauth2/authorization/google}">
                                            <span class="fab fa-google text-danger me-2 fs--1"></span> Sign in with Google
                                        </a>
                                        <a class="btn btn-phoenix-secondary w-100"
                                           th:href="@{/oauth2/authorization/facebook}">
                                            <span class="fab fa-facebook text-primary me-2 fs--1"></span> Sign in with Facebook
                                        </a>
                                        <div class="position-relative mt-4">
                                            <hr class="bg-200" />
                                            <div class="divider-content-center bg-white">or use email</div>
                                        </div>


                                        <div th:if = "${param.success}" class="alert alert-soft-info text-center" role="alert">
                                            Registration successful, please check your email to complete your registration.
                                        </div>
                                        <div th:if = "${emailError}">
                                            <p class = "alert alert-soft-danger" role="alert" th:text = "${emailError}"></p>
                                        </div>
                                        <div th:if = "${errors}">
                                            <p class = "alert alert-soft-danger" role="alert" th:text = "${errors}"></p>
                                        </div>
                                        <div th:if = "${success}">
                                            <p class = "alert alert-soft-success" role="alert" th:text = "${success}"></p>
                                        </div>
                                        <div th:if = "${passwordError}">
                                            <p class = "alert alert-soft-danger" role="alert" th:text = "${passwordError}"></p>
                                        </div>


                                        <form th:action = "@{/register}" th:object = "${user}" method="POST">

                                            <div class="mb-3 text-start">
                                                <label class="form-label" for="email">Email address</label>
                                                <input type="text" id="email" name="email" class="form-control">
                                                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors = "*{email}"></div>
                                            </div>

                                            <div class="row g-3 mb-3">
                                                <div class="col-xl-12">
                                                    <label class="form-label" for="password">Password</label>
                                                    <input type="password" id="password" name="password" class="form-control">
                                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors = "*{password}"></div>
                                                </div>
                                            </div>

                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="termsService" type="checkbox" />
                                                <label class="form-label fs--1 text-none" for="termsService">I accept the <a href="#!">terms </a>
                                                    and <a href="#!">privacy policy
                                                    </a>
                                                </label>
                                            </div>

                                            <button type="submit" class="btn btn-primary w-100 mb-3">Sign up</button>

                                            <div class="text-center"><a class="fs--1 fw-bold" th:href="@{login}">Already have an account? Login!</a></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</th:block>
<th:block layout:fragment="script">

</th:block>

</body>
</html>